<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Angular集成ECharts</title>
    <link rel="stylesheet" href="vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="vendor/jQueryUI-1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="vendor/ztree-3.5.23/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>

<body class="nav-md">
<ui-view></ui-view>
<script src="vendor/jquery/jquery-1.10.2.js"></script>
<script src="vendor/jQueryUI-1.12.1/jquery-ui.min.js"></script>
<script src="vendor/ztree-3.5.23/js/jquery.ztree.all.min.js"></script>
<script src="vendor/tinymce-4.5.6/tinymce.min.js"></script>
<script src="vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="vendor/echarts-3.6.2/echarts.min.js"></script>
<script src="scripts/china.js"></script>
<script src="scripts/world.js"></script>
<script src="vendor/angular-1.6.4/angular.js"></script>
<script src="scripts/angular-ui-router.js"></script>
<script src="vendor/angular-1.6.4/angular-route.js"></script>
<script src="scripts/require-2.3.3.js" defer="defer" async="true" data-main="/app/main"></script>
<script src="scripts/ocLazyLoad.require.js"></script>
</body>

</html>
